html, body{
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    margin: 0;
    color: #1c1c1c;
    background-color: #efefef;
}

#top-nav-container{
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

#top-nav-container .material-icons{
    font-size: 1.5em;
}

.top-nav-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 40%;
    margin: 0 auto;
}

.top-nav-item .menu{
    cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.active, .btn:hover {
  background-color: #666;
  color: white;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    height: calc(100vh - 32px);
}

.person{
    display: grid;
    grid-template-columns: 20px auto;
    align-content: center;
    margin-bottom: 1em;
}

.section-title{
    display: grid;
    align-content: end;
}

.sidenav{
    display: grid;
    grid-template-rows: 40px 400px 50px 200px 50px 200px;
    padding: 0 1.5em;
    height: 100%;
    width: 250px;
    border-right: 1px solid #ccc;
}

#book_menu, #chapter_menu, #author_menu{
    overflow-y: scroll;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 8px 1em 8px 0;
}

.content{
    display: grid;
    grid-template-rows: 70px 480px auto;
    grid-row-gap: 1em;
    align-content: start;
}

#graph{
    width: 100%;
    height: 100%;
    background-color: #1c1c1c;
}

.parallel{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2em;
    padding: 0 200px;
}

.collection{
    display: grid;
    grid-template-rows: 20px 20px 700px ;
    grid-row-gap: .5em;
    min-width: 571px;
    margin-top: 2em;
}

.collection-target{
    display: grid;
    grid-template-rows: 400px 20px 20px 300px ;
    grid-row-gap: .5em;
    min-width: 571px;
    margin-top: 2em;
}

.verses{
    overflow-y: scroll;
    padding-right: 1em;
    border-bottom: 1px solid #ccc;
}

.cross-references{
    padding-top: 28px;
}

ul{
    margin: 0;
    padding: 0;
}
ul > li{
   list-style: none;
}


.degreeItem{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    align-content: center;
    margin-bottom: .5em;
}

.color-scale{
    width: 100%;
    background: #4a7d70;
    background-image: linear-gradient(90deg, #440154, #482475, #414487, #355f8d, #2a788e, #21908d, #22a884, #42be71, #7ad151, #bddf26, #bddf26);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

/*Typography*/

.top-nav-item{
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 400;
    letter-spacing: .05em;
    padding: 8px;
    text-align: center;
}

h1{
    font-weight: 400;
    padding: 0 200px;
}

.min, .max{
    color: #eeeeee;
    font-size: .75em;
    font-weight: 600;
    padding: 0 8px;
}

.max{
    text-align: right;
    color: #1c1c1c !important;
}

h4{
    font-weight: 600;
    margin:0;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #1c1c1c;
}

.material-icons{
    font-size: 40px;
}

.section-title h6{
    margin: 0;
    margin-bottom: 4px;
    align-content: end;
    display: grid;
}

.person h4{
    margin: 0;
    padding-left: 25px;
    align-content: center;
    display: grid;
}

.reference-name{
    color: #d0d0d0;
    font-weight: 600;
    margin: 0px 0 32px 0;
    text-align: left;
}

.reference-name:hover{
    color: #1c1c1c;
}

h6.collection-title{
    margin-top:0;
}

h6{
    margin:0;
    margin-top: 2em;
    margin-bottom: .5em;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #1c1c1c;
}

.name{
    font-size: .875em;
}

.degreeNumber{
    font-size: .75em;
    color: #606060;
    text-align: center;
}

.scripture{
    line-height: 2.25em;
    font-size: .875em;
    color: #414141;
}

.verse_num{
    font-weight: 600;
    padding-right: 2px;
}

sup{
    vertical-align: baseline;
    padding: 3px;
}