html, body{
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    margin: 0;
    color: #1c1c1c;
    /*background-color: #efefef;*/
    background-color: #ffffff;
    scroll-behavior: smooth;
}

#top-nav-container{
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

#top-nav-container .material-icons{
    font-size: 1.5em;
}

.top-nav-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-content: space-between;
}

.top-nav-item .menu{
    cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.active{
  text-decoration: underline;
}

.container{
    display: grid;
    grid-template-columns: auto auto;
    height: calc(100vh - 32px);
}

.person{
    display: grid;
    grid-template-columns: 20px auto;
    align-content: center;
    margin-bottom: 1em;
}

.section-title{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sidenav{
    display: grid;
    grid-template-rows: 40px 500px 50px 250px 50px;
    padding: 1em 1em 0 1em;
    width: 250px;
    border-right: 1px solid #ccc;
}

#book_menu, #chapter_menu, #author_menu{
    overflow-y: scroll;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}

#chapter_menu{
    padding-right: 1em;
}

.content{
    display: grid;
    grid-template-rows: 70px 480px auto;
    grid-row-gap: 1em;
    align-content: start;
    padding-top: 1em;
}

#graph{
    width: 100%;
    height: 100%;
    background-color: #2a2a35;
}

.parallel{
    display: grid;
    grid-template-columns: 90px 570px auto;
    grid-column-gap: 3em;
    padding: 0 50px;
}

.collection{
    display: grid;
    grid-template-rows: 840px ;
    grid-row-gap: .5em;
    min-width: 571px;
    /*margin-top: 2em;*/
}

.collection .verses{
    border-top: 1px solid #ccc;
}

.collection-target{
    display: grid;
    grid-template-rows: 512px 320px ;
    grid-row-gap: .5em;
    min-width: 571px;
    padding-left: 2em;
    /*margin-top: 2em;*/
}

.verses{
    overflow-y: scroll;
    padding-right: 1em;
    border-bottom: 1px solid #ccc;
}

.cross-references{
    padding-top: 28px;
}

ul{
    margin: 0;
    padding: 0;
}
ul > li{
   list-style: none;
}

.resetBtn{
    display: grid;
    grid-template-rows: auto;
    align-content: center;
    text-align: center;
    padding: .5em;
    min-width: 85%;
    border: 1px solid #ccc;
    margin-top: 1em;
    text-decoration: none;
    transition: background-color .5s;
    height: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75em;
    letter-spacing: .025em;
}

.resetBtn:hover{
    color: #fff;
    background-color: #606060;
    text-decoration: none;
}

.degreeItem{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    align-content: center;
    margin-bottom: .5em;
}


.color-scale{
    width: 100%;
    background: #4a7d70;
    background-image: linear-gradient(90deg, #440154, #482475, #414487, #355f8d, #2a788e, #21908d, #22a884, #42be71, #7ad151, #bddf26, #bddf26);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.highlight{
    text-decoration: underline;
}

/*Typography*/

.above_avg{
    font-weight: 600;
}

.top-nav-item{
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 400;
    letter-spacing: .05em;
    padding: 8px;
    display: grid;
    align-content: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
    padding-right: 16px;
}

h1{
    font-weight: 300;
    padding: 0 50px;
}

.min, .max{
    color: #eeeeee;
    font-size: .75em;
    font-weight: 600;
    padding: 0 8px;
}

.max{
    text-align: right;
    color: #1c1c1c !important;
}

h4{
    font-weight: 600;
    margin:0;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #1c1c1c;
    font-style: italic;
}

.material-icons{
    font-size: 40px;
}



.section-title h6, .section-title a{
    margin: 0;
    margin-bottom: 4px;
    align-content: end;
    display: grid;
    font-weight: 600;
}

.section-title a{
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #1c1c1c;
    font-size: 0.67em;
}

.person h4{
    margin: 0;
    padding-left: 25px;
    align-content: center;
    display: grid;
}

.reference-name{
    color: #d0d0d0;
    font-weight: 600;
    margin: 0px 0 32px 0;
    text-align: left;
}


.reference-name:hover{
    color: #1c1c1c;
}

h6.collection-title{
    margin-top:0;
}

h6{
    margin:0;
    margin-top: 2em;
    margin-bottom: .5em;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #1c1c1c;
}

.name{
    font-size: .875em;
}

.degreeNumber{
    font-size: .75em;
    color: rgba(0,0,0,0.3);
}

.scripture{
    line-height: 2.25em;
    font-size: .875em;
    color: #414141;
}

.verse_num{
    font-weight: 600;
    padding-right: 2px;
}

sup{
    vertical-align: baseline;
    padding: 3px;
    color: rgba(0,0,0,0.3);
}
