html, body{
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    margin: 0;
    color: #1c1c1c;
    background-color: #f6f6f6;
    scroll-behavior: smooth;
    line-height: 2em;
}

#top-nav-container{
    width: 100%;
/*    border-bottom: 1px solid #cccccc;*/
}

#top-nav-container .material-icons{
    font-size: 1.5em;
}

.top-nav-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-content: space-between;
}

.top-nav-item .menu{
    cursor: pointer;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.active{
  text-decoration: underline;
}

.container{
    display: grid;
    grid-template-columns: 280px auto;
    height: 100vh;
}

.person{
    display: grid;
    grid-template-columns: 20px auto;
    align-content: center;
    margin-bottom: 1em;
}

.section-title{
    display: grid;
    grid-template-columns: 1fr;
}

.sidenav{
    display: grid;
    grid-template-rows: 20px 50px 500px 50px 290px 50px;
    padding: 1em 2em 0 2em;
    /*width: 250px;*/
    border-right: 1px solid #ccc;
}

.sidenav > .logo{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

.sidenav > .logo h6{
    color: #8e8e8e;
    letter-spacing: .125em;
    font-weight: 500;
}

#book_menu, #chapter_menu, #author_menu{
    overflow-y: scroll;
    /*border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;*/
    /*padding: 8px 0;*/
}

#chapter_menu{
    padding-right: 1em;
}

.content{
    display: grid;
    grid-template-rows: 70px auto;
    grid-row-gap: 1em;
    align-content: start;
    /*background-color: #f6f6f6;*/
}

#graph{
    width: 100%;
    height: 100%;
    background-color: #000000;
    /*background-color: #2a2a35;*/
}

.parallel{
    display: grid;
    grid-template-columns: 100px 570px auto;
    grid-column-gap: 3em;
    padding: 0 50px;
    height: 840px;
}

.collection{
    display: grid;
    grid-template-rows: 840px ;
    grid-row-gap: .5em;
    min-width: 571px;
    /*margin-top: 2em;*/
}

.collection .verses,
.collection-target .verses{
    /*border-top: 1px solid #ccc;*/
}

.collection-target{
    display: grid;
    grid-template-rows: 512px 296px ;
    grid-row-gap: 1em;
    min-width: 571px;
    padding: 3em;
    /*border: 1px solid #ddd;*/
    margin-top: -24px;
    border-radius: 20px;
    box-shadow:  11px 11px 22px #d1d1d1,
             -11px -11px 22px #ffffff;
}

.verses{
    overflow-y: scroll;
    padding-right: 1em;
    /*border-bottom: 1px solid #ccc;*/
}

.cross-references{
    padding-top: 28px;
}

ul{
    margin: 0;
    padding: 0;
}
ul > li{
   list-style: none;
}

.resetBtn{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    display: grid;
    grid-template-rows: auto;
    align-content: center;
    text-align: center;
    padding: .5em;
    min-width: 85%;
    color: rgb(68, 2, 85);
    margin-top: 2em;
    text-decoration: none;
    transition: color .5s;
    height: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .75em;
    letter-spacing: .025em;
    border-radius: 5px;
    background: #f6f6f6;
    box-shadow:  7px 7px 14px #d1d1d1,
             -7px -7px 14px #ffffff;
}

.resetBtn:hover{
    color: rgb(30, 153, 138);
    text-decoration: none;
}

.degreeItem{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    align-content: center;
}

.chapterItem{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    align-content: center;
}

.color-scale{
    width: 100%;
    background: #4a7d70;
    background-image: linear-gradient(90deg, #440154, #482475, #414487, #355f8d, #2a788e, #21908d, #22a884, #42be71, #7ad151, #bddf26, #bddf26);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.highlight{
    background-color: rgba(250, 237, 39, 1.00);
}

/*Typography*/

.above_avg{
    font-weight: 500;
}

.top-nav-item{
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 400;
    letter-spacing: .05em;
    padding: .25em 0 .25em 2em;
    display: grid;
    align-content: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
    padding-right: 16px;
}

h1{
    font-weight: 300;
    padding: 0 50px;
    font-size: 2.441rem;
    margin-top: .75em;
}

.min, .max{
    color: #eeeeee;
    font-size: .75em;
    font-weight: 600;
    padding: 0 8px;
}

.max{
    text-align: right;
    color: #1c1c1c !important;
}

h4{
    font-weight: 600;
    margin:0;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #1c1c1c;
    font-size: 1.25rem;
    font-style: italic;
}

.material-icons{
    font-size: 40px;
}


.sidenav > .section-title h6{
    margin-bottom: 2px;
    border-bottom: 2px solid #808080;
}


.section-title h6, .section-title a{
    margin: 0;
    margin-bottom: 4px;
    align-content: end;
    display: grid;
    font-size: .8rem;
    font-weight: 600;
}

.section-title a{
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #1c1c1c;
    font-size: 0.67em;
}

.person h4{
    margin: 0;
    padding-left: 25px;
    align-content: center;
    display: grid;
}

.reference-name{
    color: #d0d0d0;
    font-weight: 600;
    margin: 0px 0 32px 0;
    text-align: center;
}


.reference-name:hover{
    color: #1c1c1c;
}

h6.collection-title{
    margin-top:0;
}

h6{
    margin:0;
    margin-top: 2em;
    margin-bottom: .5em;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #1c1c1c;
}

h6.character{
    text-align: center;
}

.name{
    font-size: 0.8rem;
}

.degreeNumber{
    font-size: .75em;
    color: #ffffff;
    text-align: center;
    padding: 4px 0;
    /*color: rgba(0,0,0,0.3);*/
}

.scripture{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: #414141;
}

#source_text > .scripture:hover {
  text-decoration: underline;
}

.verse_num{
    font-weight: 600;
    padding-right: 2px;
}

sup{
    vertical-align: baseline;
    padding: 3px;
    color: rgba(0,0,0,0.3);
}

.jesus_words{
    color:#b7121b !important;
}

/* About Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    display: grid;
    grid-template-rows: 44px auto;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    color: #1c1c1c;
    border-radius: 10px;
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.modal-header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-content: center;
    border-bottom: 2px solid #808080;
}

.modal-text{
    max-height: 508px;
    overflow: auto;
    padding: 0 1.5em 1.5em 1.5em;
}

.modal-content ul > li{
   list-style: circle;
}

.close {
    color: #aaa;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    align-content: center;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}