html, body{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

.TableauPlaceholder{
    position: relative;
    width: 100%;
    height: 1827px;
}

.container{
    display: grid;
    grid-template-columns: 250px auto;
    margin: auto 200px;
}

.sidenav{
    display: grid;
    grid-template-rows: 600px auto auto;
    grid-row-gap: 1em;
    margin-right: 2em;
    height: 100vh;
}

#book, #chapter, #author{
    overflow-y: scroll;
}

.content{
    display: grid;
    grid-template-rows: 600px 400px;
    grid-row-gap: 1em;
    height: 100vh;
}

.graph{
    background-color: #333;
}

.parallel{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2em;
}

.verses{
    overflow-y: scroll;
}

h4{
    font-weight: 900;
    margin:0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.verse_num{
    font-weight:700;
    padding-right: 4px;
}

.scripture{
    line-height: 1.5em;
}

.high_degree{
    color: blue;
}
ul{
    margin: 0;
    padding: 0;
}
ul > li{
   list-style: none;
}


.degreeItem{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-content: center;
}