<!doctype html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <div class="sidenav">
        <h6>Book</h6>
        <div id="book">
            <ul>
                {% for book in bookDegrees %}
                <li class="degreeItem">
                    <div class="name">{{book.book_name}}</div><div class="degreeNumber">{{book.total | numberFormat}}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <h6>Chapter</h6>
        <div id="chapter">
            <ul>
                {% for chapter in chapterDegrees %}
                <li class="degreeItem">
                    <div class="name">{{chapter.chapter}}</div><div class="degreeNumber">{{chapter.total | numberFormat}}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <h6>Author</h6>
        <div id="author">
            <ul>
                {% for author in authorDegrees %}
                <li class="degreeItem">
                    <div class="name">{{author.author}}</div><div class="degreeNumber">{{author.total | numberFormat}}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="content">
        <!--<div class="graph">
            <iframe class="map" src="{{ url_for('static', filename='nx.html') }}" frameborder="0" scrolling="auto"></iframe>
        </div>-->
        <div class="parallel">
        <div class="verses">
            <div>
                {% for i in range(1, dchapters)%}
                    <h4>Chapter {{i}}</h4>
                    {% for verse in dverses%}
                        {% if verse.chapter==i%}
                        <span class="scripture">
                                   <span>
                                      <span class="verse_num" data-degree="{{verse.degree}}">{{verse.verse}}</span>
                                      {{verse.text}}
                                   </span>
                        </span>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="verses">
            <div>
               {% for b in tbooks %}
                   <h4>{{b.author}} - {{b.book_name}} {{b.chapter}}</h4>
                   {% for item in joins%}
                       {% if b.book == item.book %}
                           {% if b.chapter == item.chapter %}
                            <span class="scripture">
                                 <div>
                                    <span class="verse_num" data-degree="{{item.degree}}">{{item.verse}}</span>
                                    {{item.text}}
                                 </div>
                            </span>
                           {% endif %}
                       {% endif %}
                    {% endfor %}
               {% endfor %}
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>
</html>