<ul>
    {% for author in filteredauthors %}
    <li class="degreeItem">
        <a href="#" class="authorFilter" author_name="{{author.author}}" style="color: #1c1c1c;">
            <div class="name">{{author.author}}</div>
        </a>
        <div class="degreeNumber" style="background-color: rgb{{author.total | authorColor}};">{{author.total | numberFormat}}</div>
    </li>
    {% endfor %}
</ul>

{% block script %}
<script type="application/javascript">

    $('.authorFilter').on('click', function (){
        const author_name = $(this).attr('author_name');

        const getBookByAuthor = $.ajax({
            url: '/filter_book_menu',
            type: 'POST',
            data: {author: author_name}
        });

        getBookByAuthor.done(function (data) {
            $('#book_menu').html(data);
        })
    });

    const authorContainer = document.getElementById('author_menu');
    const authorbtns = authorContainer.getElementsByClassName('authorFilter');
    for (let i = 0; i < authorbtns.length; i++){
        authorbtns[i].addEventListener('click',function () {
            var current = document.getElementsByClassName('active');
            if (current.length > 0){
                current[0].className = current[0].className.replace(' active', '');
            }
            this.className += ' active';
        });
    }
</script>
{% endblock %}