<ul>
    {% for author in filteredauthors %}
    <li class="degreeItem">
        <a href="#" class="authorFilter" author_name="{{author.author}}">
            <div class="name">{{author.author}}</div>
        </a>
        <div class="degreeNumber">{{author.total | numberFormat}}</div>
    </li>
    {% endfor %}
</ul>

{% block script %}
<script type="application/javascript">
    const authorContainer = document.getElementById('author_menu');
    const authorbtns = authorContainer.getElementsByClassName('authorFilter');
    for (let i = 0; i < authorbtns.length; i++){
        authorbtns[i].addEventListener('click',function () {
            const current = document.getElementsByClassName('active');
            if (current.length > 0){
                current[0].className = current[0].className.replace(' active', '');
            }
            this.className += ' active';
        });
    }
</script>
{% endblock %}