<!doctype html>
<html>
<head>
  <title>Welcome to Biblegraph</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
  <script src="{{ url_for('static', filename='sigma.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/plugins/sigma.parsers.json.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/plugins/sigma.renderers.customEdgeShapes.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/plugins/sigma.renderers.customShapes.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/plugins/sigma.renderers.edgeDots.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/plugins/sigma.renderers.edgeLabels.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/plugins/sigma.renderers.parallelEdges.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/plugins/sigma.renderers.snapshot.min.js') }}"></script>
  {% block script %}{% endblock %}
</head>
<body>
<!--<div id="top-nav-container">
    <div class="top-nav-list">
        <div class="top-nav-item left"><a class="menu"><span class="material-icons">menu</span></a></div>
    </div>
</div>-->
<div class="container">
  <div id="sidenav" class="sidenav">
    <div class="logo" id="about_modal"><h6>Biblegraph (KJV)</h6></div>
    <div class="section-title"><h6>Books</h6></div>
    <div id="book_menu" menu_name="book">
      <ul>
        {% for book in bookDegrees %}
        <li class="degreeItem">
          <a href="#" class="bookFilter" book_id="{{book.book}}" style="color: #1c1c1c;">
            <div class="name">{{book.bookName}}</div>
          </a>
          <div class="degreeNumber" style="background-color: rgb{{ book.total | bookColor}};">{{book.total |
            numberFormat}}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="section-title"><h6>Authors</h6></div>
    <div id="author_menu" menu_name="author">
      <ul>
        {% for author in authorDegrees %}
        <li class="degreeItem">
          <a href="#" class="authorFilter" author_name="{{author.author}}" style="color: #1c1c1c;">
            <div class="name">{{author.author}}</div>
          </a>
          <div class="degreeNumber" style="background-color: rgb{{author.total | authorColor}};">{{author.total |
            numberFormat}}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <a class="resetBtn" href="/">start over</a>
  </div>
  <div class="content">
    {% block content %}{% endblock %}
  </div>
  <div id="about" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Biblegraph</h2>
        <span class="close">&times;</span>
      </div>
      <div class="modal-text">
        <h3>What Is It?</h3>

        <p>Biblegraph is a data visualization of 340,000 cross-references between different parts of the King James
          Version (KJV) of the Bible. It is designed to read much like the traditional Bible, but also highlights areas
          based on the number of cross-references for each verse. The number of references are listed alongside each
          book, author, chapter, and verse.</p>

        <h6>Color Scale</h6>
        <div class="viridis">
          <div class="min">min</div>
          <div class="max">max</div>
        </div>

        <p>I also mapped the minimum and maximum number of cross-references associated with a book, author, chapter, or
          verse to a Viridis color scale. Items with a low number of cross-references use a darker purple, while items
          with more references appear brighter.</p>

        <h3>Why Use It?</h3>

        <p>&quot;It takes hard labor to get the gold, but gold is worth all the labor it costs to get it.&quot; - R.A.
          Torrey</p>

        <ul>
          <li>References based on the Treasury of Scripture Knowledge (TSK)</li>
          <li>Takes less time to look up references</li>
          <li>Organized in a way that's not visually exhausting</li>
          <li>Meditate on a verses meaning in the context of others</li>
          <li>See how cross-references are connected to each other</li>
          <li>Read in sequential or in a zig-zag order</li>
        </ul>

        <h3>How It Works</h3>

        <h6>Interface</h6>

        <p>Biblegraph is best viewed at 1920 x 1060px.</p>

        <p>The interface is divided into three areas; the sidebar, source scripture, and target scripture. The sidebar
          allows you to navigate by selecting a book or author. Selecting a book will filter the authors and vice versa.
          You can also reset your selection at the bottom of the sidebar.</p>

        <p>Any selection from the sidebar will load the book and chapters into the source area. The source area lists
          the name of the book, all the chapters along with their total number of references, and the verses for each
          chapter of the book. Each verse lists the number of cross-references at the end. Any verses with an “above
          average” number of references are bolder. You can scroll the verses to read the entire book by chapter. Select
          a verse to explore its references in the target area.</p>

        <p>The target area comprises a network diagram and a list of verses connected to the source verse. In the
          network diagram, the center node represents the source verse, and all other nodes are its cross-references and
          links between them. Items colored in red represent verses associated with Jesus. You can zoom, pan, and hover
          the nodes in the network. As you hover over a verse, the list of connected verses below the diagram will
          scroll to the verse of interest. Each target verse lists the author, scripture, and number of references.</p>

        <h3>Who Made It?</h3>

        <p>Hi, my name is Camaal Moten. I do not consider myself a Bible scholar, but I love data visualization and am
          fascinated with network analysis and information design. During to the COVID-19 pandemic, I applied my
          network analysis skills to the Bible as a personal study tool. I started with the King James Version, but
          my next goal is to integrate other versions of the Bible into the mix. This would have been next to impossible
          without being able to leverage data and tools from the following source.</p>

        <h3>Special Thanks:</h3>
        <ul>
          <li><a href="https://www.kaggle.com/oswinrh/bible" target="_blank">Oswin Rahadiyan Hartono's Bible Corpus</a></li>
          <li><a href="http://www.openbible.info/labs/cross-references/" target="_blank">Open Bible's Cross References</a></li>
          <li><a href="https://networkx.org/" target="_blank">NetworkX</a></li>
          <li>Webster's Bible (WBT)</li>
          <li>World English Bible (WEB)</li>
          <li>Young's Literal Translation (YLT)</li>
        </ul>

        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Biblegraph</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.biblegraph.net" property="cc:attributionName" rel="cc:attributionURL">Camaal Moten</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://www.biblegraph.net" rel="dct:source">https://www.biblegraph.net</a>.
        </p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
