<!doctype html>
<html>
<head>
      {% if title %}
      <title>{{ title }} - Scripturegraph</title>
      {% else %}
      <title>Welcome to Scripturegraph</title>
      {% endif %}
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ url_for('static', filename='sigma.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.exporters.svg.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.layout.forceAtlas2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.layout.noverlap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.neo4j.cypher.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.parsers.gexf.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.parsers.json.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.pathfinding.astar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.plugins.animate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.plugins.dragNodes.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.plugins.filter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.plugins.neighborhoods.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.plugins.relativeSize.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.renderers.customEdgeShapes.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.renderers.customShapes.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.renderers.edgeDots.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.renderers.edgeLabels.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.renderers.parallelEdges.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.renderers.snapshot.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/plugins/sigma.statistics.HITS.min.js') }}"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    {% block script %}{% endblock %}
</head>
<body>
<!--<div id="top-nav-container">
    <div class="top-nav-list">
        <div class="top-nav-item left"><a class="menu"><span class="material-icons">menu</span></a></div>
    </div>
</div>-->
<div class="container">
    <div id="sidenav" class="sidenav">
        <div class="logo"><h6>scripturegraph 2020</h6></div>
        <div class="section-title"><h6>Books</h6></div>
        <div id="book_menu" menu_name="book">
            <ul>
                {% for book in bookDegrees %}
                <li class="degreeItem">
                    <a href="#" class="bookFilter" book_id="{{book.book}}" style="color: #1c1c1c;">
                        <div class="name">{{book.book_name}}</div></a>
                    <div class="degreeNumber" style="background-color: rgb{{book.total | bookColor}};">{{book.total | numberFormat}}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="section-title"><h6>Authors</h6></div>
        <div id="author_menu" menu_name="author">
            <ul>
                {% for author in authorDegrees %}
                <li class="degreeItem">
                    <a href="#" class="authorFilter" author_name="{{author.author}}" style="color: #1c1c1c;">
                        <div class="name">{{author.author}}</div>
                    </a>
                    <div class="degreeNumber" style="background-color: rgb{{author.total | authorColor}};">{{author.total | numberFormat}}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <a class="resetBtn" href="/">reset filters</a>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
</div>
</body>
<!--<script>

document.addEventListener('DOMContentLoaded', function() {

    var url = 'http://127.0.0.1:8001/GUI-is-still-open';
    fetch(url, { mode: 'no-cors'});
    setInterval(function(){ fetch(url, { mode: 'no-cors'});}, 5000)();

});

</script>-->
</html>
