<ul>
  {% for book in filteredbooks %}
  <li class="degreeItem">

    <a href="#" class="bookFilter" book_id="{{book.book}}" style="color: #1c1c1c;">
      <div class="name">{{book.bookName}}</div></a>
    <div class="degreeNumber" style="background-color: rgb{{book.total | bookColor}};">{{book.total | numberFormat}}</div>
  </li>
  {% endfor %}
</ul>

{% block script %}
<script type="application/javascript">
    $(document).ready(function () {

        $('.bookFilter').on('click', function (){
            $('#source_text').html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $('#author_menu').html('<img src="{{ url_for('static', filename='loading.gif') }}">');

            var book_id = $(this).attr('book_id');

            var getSourceByBook = $.ajax({
                url: '/filter_source',
                type: 'POST',
                data: {book: book_id}
            });

            getSourceByBook.done(function (data) {
                $('#source_text').html(data);
            });

            var getSourceBookName = $.ajax({
                url: '/filter_book_name',
                type: 'POST',
                data: {book: book_id}
            });

            getSourceBookName.done(function (data) {
                $('#sourceBookName').html(data);
            });

            var getAuthors = $.ajax({
                url: '/filter_author_menu',
                type: 'POST',
                data: {book: book_id}
            });

            getAuthors.done(function (data) {
                $('#author_menu').html(data);
            });

            var getChapters = $.ajax({
                url: '/filter_chapter_menu',
                type: 'POST',
                data: {book: book_id}
            });

            getChapters.done(function (data) {
                $('#chapter_menu').html(data);
            });
        });

        var bookContainer = document.getElementById('book_menu');
        var bookbtns = bookContainer.getElementsByClassName('bookFilter');
        for (let i = 0; i < bookbtns.length; i++){
            bookbtns[i].addEventListener('click',function () {
                const current = document.getElementsByClassName('active');
                if (current.length > 0){
                    current[0].className = current[0].className.replace(' active', '');
                }
                this.className += ' active';
            });
        }
    });
</script>
{% endblock %}