<ul>
  {% for book in filteredbooks %}
  <li class="degreeItem">

    <a href="#" class="bookFilter" book_id="{{book.book}}" style="text-decoration: none; color: #1c1c1c;"><div class="name">{{book.book_name}}</div></a>
    <div class="degreeNumber">{{book.total | numberFormat}}</div>
  </li>
  {% endfor %}
</ul>

{% block script %}
<script type="application/javascript">
    $(document).ready(function () {

        $('.bookFilter').on('click', function (){
            $('#source_text').html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $('#author_menu').html('<img src="{{ url_for('static', filename='loading.gif') }}">');

            const book_id = $(this).attr('book_id');

            let getSourceByBook = $.ajax({
                url: '/filter_source',
                type: 'POST',
                data: {book: book_id}
            });

            getSourceByBook.done(function (data) {
                $('#source_text').html(data);
            });

            let getSourceBookName = $.ajax({
                url: '/filter_book_name',
                type: 'POST',
                data: {book: book_id}
            });

            getSourceBookName.done(function (data) {
                $('#sourceBookName').html(data);
            });


            let getAuthors = $.ajax({
                url: '/filter_author_menu',
                type: 'POST',
                data: {book: book_id}
            });

            getAuthors.done(function (data) {
                $('#author_menu').html(data);
            });
        });

        const bookContainer = document.getElementById('book_menu');
        const bookbtns = bookContainer.getElementsByClassName('bookFilter');
        for (let i = 0; i < bookbtns.length; i++){
            bookbtns[i].addEventListener('click',function () {
                const current = document.getElementsByClassName('active');
                if (current.length > 0){
                    current[0].className = current[0].className.replace(' active', '');
                }
                this.className += ' active';
            });
        }
    });
</script>
{% endblock %}