<ul>
  {% for book in filteredbooks %}
  <li class="degreeItem">
      <div class="name">
        <a href="#" class="bookFilter" book_id="{{book.book}}" style="text-decoration: none; color: #1c1c1c;">{{book.book_name}}</a>
      </div>
    <div class="degreeNumber">{{book.total | numberFormat}}</div>
  </li>
  {% endfor %}
</ul>

{% block script %}
<script type="application/javascript">
    $(document).ready(function () {

        $('.bookFilter').on('click', function (){
            const book_id = $(this).attr('book_id');

            let getSourceByBook = $.ajax({
                url: '/filter_source',
                type: 'POST',
                data: {book: book_id}
            });

            getSourceByBook.done(function (data) {
                $('#source_text').html(data);
            })

            let getAuthors = $.ajax({
                url: '/filter_author_menu',
                type: 'POST',
                data: {book: book_id}
            });

            getAuthors.done(function (data) {
                $('#author_menu').html(data);
            })
        });
    });
</script>
{% endblock %}