{% extends "base.html" %}

{% block content %}
<div id="sourceBookName">
  <h1>{{defaultbookname}}</h1>
<!--  <div class="color-scale">-->
<!--      <div class="min">1</div>-->
<!--      <div class="max">436</div>-->
<!--  </div>-->
</div>
<div class="parallel">
  <div id="chapter_menu" menu_name="chapter">
        <ul>
            {% for chapter in chapterDegrees %}
            <li class="chapterItem">
                <a href="#ch{{chapter.chapter}}" class="chapterFilter" book_id="{{chapter.book}}" chapter_id="{{chapter.chapter}}" style="color: #1c1c1c;">
                    <div class="name">{{chapter.chapter}}</div>
                </a>
                <div class="degreeNumber" style="background-color: rgb{{chapter.total | chapterColor}};">{{chapter.total | numberFormat}}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="collection">
      <div class="verses">
        <div id="source_text">
            <h4 id="ch{{defaultchapter}}">Chapter {{defaultchapter}}</h4>
            {% for verse in dverses%}
                <span class="scripture">
                       <span>
                          <span class="verse_num" data-degree="{{verse.degree}}">{{verse.verse}}</span>
                           <a href="#" class="verseFilter {% if verse.degree >= 50 %} above_avg {% endif %} {% if verse.redLetter == 'TRUE' %} jesus_words {% endif %}" verse_id="{{verse.id}}" style="text-decoration: none; color:#1c1c1c;">{{verse.text}}</a><sup style="color: rgb{{verse.degree | verseColor}}">{{verse.degree}}</sup>
                       </span>
                </span>
            {% endfor %}
        </div>
      </div>
    </div>
    <div id="graph-container" class="collection-target">
      <div class="instructions">
        <h6>How to use this visualization</h6>
        <ol>
          <li>Select a book from the menu.</li>
          <li>Filter books by Author (optional).</li>
          <li>The first chapter of the book will load by default.</li>
          <li>Select a chapter.</li>
          <li>Select a verse within the chapter to explore its network graph of cross-references.</li>
        </ol>
      </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="application/javascript">
    $(document).ready(function () {

        $('.chapterFilter').on('click', function (){

            var book_id = parseInt($(this).attr('book_id'));
            var chapter_id = parseInt($(this).attr('chapter_id'));

            var getSourceByBook = $.ajax({
                url: '/filter_source',
                type: 'POST',
                data: {book: book_id, chapter: chapter_id}
            });

            getSourceByBook.done(function (data) {
                $('#source_text').html(data);
            });
        });

        $('.verseFilter').on('click', function (){
            var verse_id = parseInt($(this).attr('verse_id'));

            var getSourceByBook = $.ajax({
                url: '/filter_target',
                type: 'POST',
                data: {id: verse_id}
            });

            getSourceByBook.done(function (data) {
                $('#graph-container').html(data);
            })
        });
    });
</script>
{% endblock %}