{% extends "base.html" %}
<!--<div class="graph">
    <iframe class="map" src="{{ url_for('static', filename='nx.html') }}" frameborder="0" scrolling="auto"></iframe>
</div>-->
<div class="parallel">
<div class="verses">
    <div>
        {% for i in range(1, dchapters)%}
            <h4>Chapter {{i}}</h4>
            {% for verse in dverses%}
                {% if verse.chapter==i%}
                <span class="scripture">
                           <span>
                              <span class="verse_num" data-degree="{{verse.degree}}">{{verse.verse}}</span>
                              {{verse.text}}
                           </span>
                </span>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>
<div class="verses">
    <div>
       {% for b in tbooks %}
           <h5>{{b.author}} - {{b.book_name}} {{b.chapter}}</h5>
           {% for item in joins%}
               {% if b.book == item.book %}
                   {% if b.chapter == item.chapter %}
                    <span class="scripture">
                         <div>
                            <span class="verse_num" data-degree="{{item.degree}}">{{item.verse}}</span>
                            {{item.text}}
                         </div>
                    </span>
                   {% endif %}
               {% endif %}
            {% endfor %}
       {% endfor %}
    </div>
</div>
</div>