{% extends "base.html" %}

{% block content %}
<div id="sourceBookName">
  <h1>{{defaultbookname}}</h1>
</div>
<div class="parallel">
  <div id="chapter_menu" menu_name="chapter">
        <ul>
            {% for chapter in chapterDegrees %}
            <li class="chapterItem">
                <a href="#ch{{chapter.chapter}}" class="chapterFilter" book_id="{{chapter.book}}" chapter_id="{{chapter.chapter}}" style="color: #1c1c1c;">
                    <div class="name">{{chapter.chapter}}</div>
                </a>
                <div class="degreeNumber" style="background-color: rgb{{chapter.total | chapterColor}};">{{chapter.total | numberFormat}}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="collection">
      <div class="verses">
        <div id="source_text">
            <h4 id="ch{{defaultchapter}}">Chapter {{defaultchapter}}</h4>
            {% for verse in dverses%}
                <span class="scripture">
                       <span>
                          <span class="verse_num" data-degree="{{verse.degree}}">{{verse.verse}}</span>
                           <a href="#" class="verseFilter {% if verse.degree >= 50 %} above_avg {% endif %} {% if verse.redLetter == 'TRUE' %} jesus_words {% endif %}" verse_id="{{verse.id}}" style="text-decoration: none; color:#1c1c1c;">{{verse.text}}</a><sup style="color: rgb{{verse.degree | verseColor}}">{{verse.degree}}</sup>
                       </span>
                </span>
            {% endfor %}
        </div>
      </div>
    </div>
    <div id="graph-container" class="collection-target">
      <div class="instructions">
        <h4>Overview</h4>
        <p>Biblegraph is a data visualization of 340,000 cross-references between different parts of the King James
          Version (KJV) of the Bible. It is designed to read much like the traditional Bible, but also highlights areas
          based on the number of cross-references for each verse. The number of references are listed alongside each
          book, author, chapter, and verse.</p>

        <p>The minimum and maximum number of cross-references for each book, author, chapter, or
          verse have been mapped to the color scale below. Items with a low number of cross-references use a darker
          purple, while items with more references appear brighter.</p>

        <div class="viridis">
          <div class="min">min</div>
          <div class="max">max</div>
        </div>

        <h5>Getting Started:</h5>
        <ol>
          <li>Select a book or filter the books by Author.</li>
          <li>Select a chapter.</li>
          <li>Select a verse to visualize its graph of cross-references.</li>
          <li>Press <em>"Start Over"</em> to restart the visualization.</li>
        </ol>

        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Biblegraph</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://www.biblegraph.net" property="cc:attributionName" rel="cc:attributionURL">Camaal Moten</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://www.biblegraph.net" rel="dct:source">https://www.biblegraph.net</a>.
        </p>
      </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="application/javascript">
    $(document).ready(function () {

        $('.chapterFilter').on('click', function (){

            const book_id = parseInt($(this).attr('book_id'));
            const chapter_id = parseInt($(this).attr('chapter_id'));

            const getSourceByBook = $.ajax({
                url: '/filter_source',
                type: 'POST',
                data: {book: book_id, chapter: chapter_id}
            });

            getSourceByBook.done(function (data) {
                $('#source_text').html(data);
            });
        });

        $('.verseFilter').on('click', function (){
            const verse_id = parseInt($(this).attr('verse_id'));

            const getSourceByBook = $.ajax({
                url: '/filter_target',
                type: 'POST',
                data: {id: verse_id}
            });

            getSourceByBook.done(function (data) {
                $('#graph-container').html(data);
            })
        });
    });
</script>
{% endblock %}